Source: stsbl-iserv-scmc
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.1.3.0
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-scmc

Package: stsbl-iserv-scmc
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  iserv3-core,
  iserv3-file,
  iserv3-filesystem,
  iserv3-host,
  iserv3-room (>= 17.11.23-1),
  libfile-copy-recursive-perl,
  libjson-perl,
  libswitch-perl,
  php5-cli | php-cli,
  scmcauthd,
  stsbl-iserv-perl-lib,
  stsbl-iserv3-maintenance,
  unzip,
  zip,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: Zeugnisverwaltungsconnector für IServ (EXPERIMENTELL)
 Dieses Modul ermöglicht eine für den Endanwender nahtlos erscheinene
 Integration eines Zeugnisverwaltungservers in den IDesk.
 Zeugnisverwalter können Schülerdaten auf den Server hochladen und die
 Eingaben wieder herunterladen.
 .
 Der Verwaltungszugriff auf den Zeugnisserver ist mittels
 Zwei-Faktor-Authentifizierung geschützt.
 .
 Momentan wird der in Hamburg verbreitete Zeugnisverwaltungsserver
 WZeugnis (http://www.weisserwolf.de/WZeugnis/WZeugnis.html) unterstützt.
 .
 Das Modul ist noch nicht fertiggestellt und befindet sich noch in
 Entwicklung. Daher sind noch nicht alle beschriebenen Funktionen sichtbar.
Tag: suite::iserv:portal, role::plugin, status::experimental, implemented-in::php
